################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tesseract.demo/.vs/tesseract.demo/v15
/tesseract.demo/packages
/tesseract.demo/tesseract.demo/bin/Debug
/tesseract.demo/tesseract.demo/obj/Debug
